* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding:15px;
    border: 20px soli whitesmoke;
}


.body{
    background: whitesmoke;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    
}
.space{
    width: 100%;
    height: 12%;
}
.header{
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    line-height: 72px;   
    margin-bottom: 49px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.header-center{
    width: 960px;
    margin: auto;
    
  
}

.header-name{
    color: #ffffff;
    background-color:  #4aaaa5;        
    font-size: 42px;
    
    font-weight: bold;
    padding: 20px 25px 20.5px 25px;
    
    
}

.header-links{
    float: right;
}

a{
    color:  #4aaaa5;
    text-decoration: none;
}
a:hover{
    background-color: rgb(133, 133, 133);
}

.content{
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 960px;  
    padding: 0px;
    margin: auto;
    
}

.content-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
    line-height: 75px;
    
}
.inner-content{
    margin: 0px 20px 0px 20px;
    padding-bottom: 20px;
}
.image{
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px 20px 20px 20px;
}
   
input[type=text]{
    width: 75%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 55%;
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

input[type=email]{
    width: 55%;
    padding: 12%;
    margin: 10%;
    display: inline-block;
    border: 1% solid #4aaaa5;
    border-radius: 0px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.comment{
    width: 55%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid  #4aaaa5;
    border-radius: 4px;
    background-color: #ffffff;
}

.gallery-image{
    height: 55%;
    width: 45%;
    padding: 2%;
    align-items:left;
}
.image.caption{
    width: 20%;
    font-size: 15px;
    text-align: left;
    text-decoration-style: solid;
    color: #666666

}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    padding-top: 1px;
    color: white;
    text-align: center;
    border-top: 5px;
    border-style: solid;
    border-color:  #4aaaa5;
}

.footer-border{
    position: fixed;
    width: 100%;
    background-color: #4aaaa5;
}

